.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

.box {
  width: 600px;
  background: #fff;
  border-radius: 15px;
  padding: 20px;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
